<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
</head>
<body class="mt-5 mx-5">
  <form [formGroup]="formGroup" id="table">
    <div class="text-center mb-5 mt-5 mx-5">
      <h2 >OFP-2</h2>
    </div>
    <table class="table table-border">
      <thead class="text-center">
        <tr>
          <th scope="col" >DEMO/LOANER:</th>
          <td scope="col" ><select style="border-radius: 10px; width: 140px;" formControlName="delo" default="select"><option value="Demo">Demo</option><option value="Loaner">Loaner</option></select></td>
          <th scope="col" >SERIAL NUMBER:</th>
          <td scope="col" ><input style="border-radius: 10px;" type="text" formControlName="sn_o" autocomplete="off"></td>
        </tr>
        <tr>
          <th scope="col" >CDS DATE:</th>
          <td scope="col" ><input style="border-radius: 10px;" type="date" formControlName="cds_date" autocomplete="off"></td>
          <th scope="col" >CDS DONE BY:</th>
          <td scope="col" ><input style="border-radius: 10px;" type="text" formControlName="cds_by" autocomplete="off"></td>
        </tr>
      </thead>
    </table>
    <table class="table table-bordered">
      <thead class="text-center">
        <tr>
          <th scope="col">S.NO</th>
          <th scope="col">INSPECTION ITEM</th>
          <th scope="col">INSPECTION STANDARD</th>
          <th scope="col">INSPECTION RESULT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-center" scope="row">1</th>
            <td>Cleaning & Disinfection</td>
            <td>Clean and disinfect the OFP-2 according to the instructions in the corresponding Instructions Manual.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s1_result" id="s1_result_pass" value="Pass">
            Fail<input type="radio" formControlName="s1_result" id="s1_result_fail" value="Fail"></td>
        </tr>
        <tr>
          <th class="text-center" scope="row">2</th>
            <td>Visual inspection</td>
            <td>Check the pump head mechanism, the water bottle and the water bottle tray for foreign matter and obstructions.<br>Check the legibility and completeness of the markings and labelling on the enclosure.<br>Check the integrity of the power button mechanism, the flow rate controls, the footswitch mechanism and the pump head.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s2_result" id="s2_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s2_result" id="s2_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">3</th>
            <td>power on</td>
            <td>Switch on the power supply and confirm that the OFP-2 does not operate .<br>The front panel LEDs illuminate in sequence, flash twice and then extinguish in sequence, leaving the ‘Power’, ‘Standby’ and ‘Speed 1’ LEDs lit green.<br>The pump head does not run in standby mode</td>
                <td class="text-center">Pass<input type="radio" formControlName="s3_result" id="s3_result_pass" value="Pass">
                    Fail<input type="radio" formControlName="s3_result" id="s3_result_fail" value="Fail"></td>
        </tr>
        <tr>
          <th class="text-center" scope="row">4</th>
          <td>Operational check</td>
          <td>Lift the pump head and confirm that the standby LED turns to orange before there is a 20mm gap at 90º to the front of the pump head.<br>Leaving the pump head open, confirm that the standby LED remains orange when the standby button is pressed .<br>Close the pump head and attach the footswitch tube to its front panel connection. Press the footswitch and confirm that the pump does not operate.<br>Press the standby button and confirm the standby LED turns green .<br>Press the footswitch and confirm that the pump runs.</td>
          <td class="text-center">Pass<input type="radio" formControlName="s4_result" id="s4_result_pass" value="Pass">
              Fail<input type="radio" formControlName="s4_result" id="s4_result_fail" value="Fail"></td>
        </tr>

        <tr>
            <th class="text-center" scope="row">5</th>
            <td>Button operation check</td>
            <td>Press the ‘Speed Up’ button and re-press the footswitch. Confirm that the pump speed increases and the speed LEDs illuminate until speed 9 is reached. Note: The footswitch can remain depressed while the speed is adjusted.<br>Whilst at speed 9, press the footswitch and with the pump running, open the pump head. Confirm that the pump stops immediately. After the test completes, close the pump head.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s5_result" id="s5_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s5_result" id="s5_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row" >6</th>
            <td>pump operation check</td>
            <td>Fit a length of MAJ-1608 tubing to the pump head and part fill the water bottle.Set the speed to 9 and briefly run the pump to purge air from the tubing.<br> Insert the other end of the tubing into a suitable measuring vessel and operate the pump for 20 seconds.<br>Confirm that the pump operates without appreciable hesitation and measure the amount of fluid collected. Confirm that a minimum of 200ml of fluid is delivered (equivalent to 600ml/min). Note: If the pump stalls on start-up, check that the tubing is correctly fitted to the pump head.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s6_result" id="s6_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s6_result" id="s6_result_fail" value="Fail"></td>
        </tr>
        <tr>
          <th class="text-center" scope="row">7</th>
            <td>power off</td>
            <td>Switch off the unit, disconnect all the tube and acessories.<br>Ensure the power switch is off and the pump head is closed </td>
            <td class="text-center">Pass<input type="radio" formControlName="s7_result" id="s7_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s7_result" id="s7_result_fail" value="Fail"></td>
        </tr>
        <tr>
          <th scope="row"><b>REMARKS:</b></th>
          <td colspan="4">
              <textarea style="width:99%;resize: none;" formControlName="remarks" ></textarea>
          </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-border">
    <thead>
      <tr>
        <th scope="col" id="ib">INSPECTD BY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" id="ib_d"><input style="border-radius: 10px;" type="text" autocomplete="off" formControlName="insBy"></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-5">
    <div id="image">
    </div>
    <button id="btn" class="btn btn-success mt-2" type="submit" style="width:120px" (click)="download()"><span></span> Download</button>
  </div>
</form>
</body>
</html>
