<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p class="d-flex;" style="float:right;font-size: 10px;">{{ver}}</p>varsion -->
    <div class="row mb-5">
        <div class=" d-flex mt-5 justify-content-between">
            <div class=" mb-5 bt1">
                <button class="btn btn-primary" id="backhome" (click)="backHome()" ><span>Back to Home</span></button>
            </div>
            <div class=" mb-5 bt2">
                <button class="btn btn-success" id="goCam" (click)="goCam()" ><span>Add Image</span></button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>

</body>
</html>
