<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
</head>
<body class="mt-5 mx-5">
  <form [formGroup]="formGroup" id="table">
    <div class="text-center mb-5 mt-5 mx-5">
      <h2 >EU-ME2</h2>
    </div>
    <table class="table table-border">
      <thead class="text-center">
        <tr>
          <th scope="col" >DEMO/LOANER:</th>
          <td scope="col" ><select style="border-radius: 10px; width: 140px;" formControlName="delo" default="select"><option value="Demo">Demo</option><option value="Loaner">Loaner</option></select></td>
          <th scope="col" >SERIAL NUMBER:</th>
          <td scope="col" ><input style="border-radius: 10px;" type="text" formControlName="sn_o" autocomplete="off"></td>
        </tr>
        <tr>
          <th scope="col" >CDS DATE:</th>
          <td scope="col" ><input style="border-radius: 10px;" type="date" formControlName="cds_date" autocomplete="off"></td>
          <th scope="col" >CDS DONE BY:</th>
          <td scope="col" ><input style="border-radius: 10px;" type="text" formControlName="cds_by" autocomplete="off"></td>
        </tr>
      </thead>
    </table>
    <table class="table table-bordered">
      <thead class="text-center">
        <tr>
          <th scope="col">S.NO</th>
          <th scope="col">INSPECTION ITEM</th>
          <th scope="col">INSPECTION STANDARD</th>
          <th scope="col">INSPECTION RESULT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-center" scope="row">1</th>
            <td>Cleaning/disinfection</td>
            <td>Clean and disinfect the EU-ME2 PREMIER according to the instructions described in the corresponding Instructions Manual.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s1_result" id="s1_result_pass" value="Pass">
            Fail<input type="radio" formControlName="s1_result" id="s1_result_fail" value="Fail"></td>
        </tr>
        <tr>
          <th class="text-center" scope="row">2</th>
            <td>Power ON</td>
            <td>Verify that the air vents on the left and right sides of the EU-ME2  are not clogged with dusts and/or foreign substances.<br>- Connect an ultrasound endoscope (*) to the EU-ME2 .<br>- Press the power switch on the EU-ME2 .<br>Inspect the following items:<br>・ The power indicator lights up.<br>・ One minute after power-on, a beep sounds twice.<br>- Place a hand in front of the air vents on the left side of the EU-ME2 .<br>- Verify by feeling that the air is exhausted from the air vent on the left side.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s2_result" id="s2_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s2_result" id="s2_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">3</th>
            <td>Display contents</td>
            <td>With the EU-ME2  powered ON,inspect the following items of the monitor display:<br>The date and time displayed on the monitor are correct.</td>
                <td class="text-center">Pass<input type="radio" formControlName="s3_result" id="s3_result_pass" value="Pass">
                    Fail<input type="radio" formControlName="s3_result" id="s3_result_fail" value="Fail">
                   </td>
        </tr>
        <tr>
            <th class="text-center" scope="row">4</th>
            <td>Monitor screen</td>
            <td>Press the FREEZE key on the keyboard.<br>- Verify that the US indicator to the left of the FREEZE key remains off.<br>- Verify that the ultrasound image displayed on the monitor is normal..</td>
            <td class="text-center">Pass<input type="radio" formControlName="s4_result" id="s4_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s4_result" id="s4_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">5</th>
            <td>Ultrasound image display (B-mode image)</td>
            <td>Press the FREEZE key <br>Inspect the following items:<br>・ The ultrasound image freezes on the monitor.<br>・ The frame number is indicted at the lower right of the monitor.<br>・ The US indicator to the left of the FREEZE key on the keyboard lights up.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s5_result" id="s5_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s5_result" id="s5_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row" >6</th>
            <td>Display (FLOW/COLOR FLOW mode images)</td>
            <td>Press the FREEZE key .<br>- Verify that the ultrasound image appears on the monitor.<br>- Press the FLOW key on the keyboard.<br>- Press the COLOR button for FLOW MODE on the touch panel.<br>- Press the “+” button of FLOW GAIN on the touch panel to set the flow gain to the maximum.<br>- Place the distal end into the water.<br>- While moving the distal end in the water by hand, verify that a moving image of ROI area appears on the monitor in red.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s6_result" id="s6_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s6_result" id="s6_result_fail" value="Fail"></td>
        </tr>
        <tr>
          <th class="text-center" scope="row" >7</th>
          <td>Ultrasound image display (FLOW/POWER FLOW mode images)</td>
          <td>Press the FLOW key on the keyboard.<br>- Press the POWER button for FLOW MODE on the touch panel.<br>- Press the “+” button of FLOW GAIN on the touch panel to set the flow gain to the maximum.<br>- While moving the distal end in the water by hand, verify that a moving image of ROI area appears on the monitor in red.</td>
          <td class="text-center">Pass<input type="radio" formControlName="s7_result" id="s7_result_pass" value="Pass">
              Fail<input type="radio" formControlName="s7_result" id="s7_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">8</th>
            <td>Ultrasound image display (FLOW/H-FLOW mode images)</td>
            <td>Press the H-FLOW button for FLOW MODE on the touch panel.<br>- Press the “+” button of FLOW GAIN on the touch panel to set the flow gain to the maximum.<br>- While moving the distal end in the water by hand, verify that a moving image of ROI area appears on the monitor in blue or red.<br>- Remove the distal end from the water</td>
            <td class="text-center">Pass<input type="radio" formControlName="s8_result" id="s8_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s8_result" id="s8_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">9</th>
            <td>Ultrasound image display (PW mode image)</td>
            <td>Press the PW key on the keyboard.<br>- Verify that the B-mode image is displayed on the left side of the observation window with indication of the PW cursor and sample volume.</td>
            <td class="text-center">Pass<input type="radio" formControlName="s9_result" id="s9_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s9_result" id="s9_result_fail" value="Fail"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">10</th>
            <td>Ultrasound image display (CH-EUS mode image)</td>
            <td>Press the CH-EUS button on the touch panel.<br>- Verify that mode “FI” appears on the lower left side of the observation window and mode “CH-P” appears on the lower right</td>
            <td class="text-center">Pass<input type="radio" formControlName="s10_result" id="s10_result_pass" value="Pass">
                Fail<input type="radio" formControlName="s10_result" id="s10_result_fail"  value="Fail"></td>
        </tr>
      <tr>
          <th class="text-center" scope="row">11</th>
          <td>Video system center </td>
          <td>Connect the video system center to EU-ME2 .<br>- Turn the video system center and EU-ME2  on.<br>- Verify the correct model name of the video system center is indicated on upper left of the keyboard touch panel.</td>
          <td class="text-center">Pass<input type="radio" formControlName="s11_result" id="s11_result_pass" value="Pass">
              Fail<input type="radio" formControlName="s11_result" id="s11_result_fail"  value="Fail"></td>
      </tr>
      <tr>
        <th class="text-center" scope="row">12</th>
        <td>Power OFF </td>
        <td>Press the power switch on the EU-ME2 .<br>- Verify that the EU-ME2   is turned off and the power indicator for the Power switch extinguishes.</td>
        <td class="text-center">Pass<input type="radio" formControlName="s12_result" id="s12_result_pass" value="Pass">
            Fail<input type="radio" formControlName="s12_result" id="s12_result_fail"  value="Fail"></td>
    </tr>
    <tr>
      <th class="text-center" scope="row">13</th>
      <td>Data Delete and Reset</td>
      <td>Delete and Reset previous data, ie user setting, saved image, patient data etc.</td>
      <td class="text-center">Pass<input type="radio" formControlName="s13_result" id="s13_result_pass" value="Pass">
          Fail<input type="radio" formControlName="s13_result" id="s13_result_fail" value="Fail"></td>
  </tr>
        <tr>
          <th scope="row"><b>REMARKS:</b></th>
          <td colspan="4">
              <textarea style="width:99%;resize: none;" formControlName="remarks" ></textarea>
          </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-border">
    <thead>
      <tr>
        <th scope="col" id="ib">INSPECTD BY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" id="ib_d"><input style="border-radius: 10px;" type="text" autocomplete="off" formControlName="insBy"></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-5">
    <div id="image">
    </div>
    <button id="btn" class="btn btn-success mt-2" type="submit" style="width:120px" (click)="download()"><span></span> Download</button>
  </div>
</form>
</body>
</html>
